.row {
  td {
    border: none;
    padding-left: 1em;
    color: #222;
  }

  td:first-of-type {
    border-radius: 10px 0 0 10px;
  }

  td:last-of-type {
    border-radius: 0 10px 10px 0;
  }

  td:first-child {
    text-align: center;
    padding-left: 0 !important;
    margin: 0;
    position: relative;
    font-size: 0.8em;
    color: white;

    &::before {
      position: absolute;
      background-color: red;
      height: 2em;
      width: 2em;
      content: '';
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      z-index: -1;
      padding: 0.2em;
    }
  }

  td.zero {
    &::before {
      background-color: #48beff;
    }
  }

  td.one {
    &::before {
      background-color: #3dfaff;
    }
  }

  td.two {
    &::before {
      background-color: #43c59e;
    }
  }

  td.three {
    &::before {
      background-color: #3d7068;
    }
  }

  td.four {
    &::before {
      background-color: #14453d;
    }
  }

  transition: all 0.1s ease-in;
}

.row:hover {
  transform: scale(1.03);
  background-color: #222;

  td {
    color: #fff;
  }
}
